<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="simicartadmin_qrcode_listing_data_source" xsi:type="string">Simicart\QRcode\Model\ResourceModel\QRcode\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Simicart\QRcode\Model\ResourceModel\QRcode\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">simicart_qrcode</argument>
            <argument name="resourceModel" xsi:type="string">Simicart\QRcode\Model\ResourceModel\QRcode\Collection</argument>
        </arguments>
    </virtualType>
</config>