<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Simicart_QRcode::QRcode" title="QRcode" module="Simicart_QRcode" sortOrder="51" resource="Simicart_QRcode::QRcode"/>
        <add id="Simicart_QRcode::Manage_QRcode" title="Manage QRcode" module="Simicart_QRcode" sortOrder="10" action="simicartadmin/qrcode/index" resource="Simicart_QRcode::post" parent="Simicart_QRcode::QRcode"/>
        <!-- <add id="Mageplaza_HelloWorld::hello_configuration" title="Configuration" module="Mageplaza_HelloWorld" sortOrder="99" parent="Mageplaza_HelloWorld::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Mageplaza_HelloWorld::helloworld_configuration"/> -->
    </menu>
</config>
